body {
  margin: 0;
  padding: 0;
  background: #d8c9a3;
  font-family: Georgia, serif;
  color: #2e2418;
}



header {
  background: #a3362d;
  color: #f5e6b8;
  text-align: center;
  padding: 30px 20px;
  border-bottom: 6px double #f5e6b8;
}

header h1 {
  margin: 0;
  font-size: 52px;
  letter-spacing: 3px;
}

header p {
  margin-top: 10px;
  font-size: 18px;
}



.layout {
  display: flex;
   gap: 20px; padding: 20px; align-items: flex-start;
}


/* COLUNAS */

.coluna {
  flex: 1;
}


/* ARTIGOS */

article {
  background: #f4e7c5;
   border: 3px solid #7c5a32;
  padding: 20px;
   margin-bottom: 20px;

  box-shadow: 5px 5px 0px #8f6e46;
}


.foto-curiosidade {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
 }






h2 {
  margin-top: 0;
   color: #8f2c1f;
  font-size: 32px;
   border-bottom: 2px dashed #8f2c1f;
  padding-bottom: 8px;
}

h3 {
  color: #5c3b1d;
}




p {
  line-height: 1.7;
  font-size: 18px;
}



pre {
  background: #efe1bd;
   border-left: 5px solid #8f2c1f;
  padding: 15px;
  overflow-x: auto;

  font-size: 16px;
  color: #3d2b1f;
}



img { 
    width: 100%;
     max-width: 100%;
      height: auto;
       display: block;
       border: 5px solid #fff2d1;
        box-shadow: 4px 4px 0px #7c5a32;
        margin-top: 10px;
        box-sizing: border-box;
     }



footer {
  text-align: center;
  padding: 30px;
   background: #a3362d;
    color: #f5e6b8;
  margin-top: 30px;
}



@media (max-width: 768px)
 { .layout 
    { flex-direction: column; padding: 10px; }
  .coluna { width: 100%; }
   article { padding: 15px; }
   header h1 { font-size: 36px; }
    h2 { font-size: 26px; }
    p { font-size: 16px; } 

}
